/* Header.css */

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* You can adjust padding as needed */
  background-color: #f8f9fa; /* Light grey background */
  border-bottom: 1px solid #e1e1e1; /* Add a border for definition */
  top: 0;
}

.menu-button {
  background: none;
  border: none;
  font-size: 30px; /* Adjust the font-size as needed */
  padding: 8px 15px; /* Add padding for easier touch */
  margin-right: auto; /* Push everything else to the right */
  cursor: pointer;
  color:black;
}

.logo {
  padding: 8px 15px; /* Padding for easier touch */
  cursor: pointer;
  /* Set the desired size for the account icon container */
  height: 50px; /* Adjust the height as needed */
  width: 50px; /* Adjust the width as needed */
  display: flex; /* Add this to center the image within the container */
}

.account-icon {
  padding: 8px 15px; /* Padding for easier touch */
  cursor: pointer;
  /* Set the desired size for the account icon container */
  height: 50px; /* Adjust the height as needed */
  width: 50px; /* Adjust the width as needed */
  display: flex; /* Add this to center the image within the container */
}


