* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}

.main-content {
  padding-top: 60px; /* Add padding-top equal to the height of the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f9;
  padding: 20px;
  width: 100%;
}

.content-section {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin-top: 20px; /* Add some space below the fixed header */
}

.details {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.result {
  text-align: left;
  white-space: pre-wrap;
}

.back-button {
  background-color: #5c67f2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #4a54e1;
}

@media (max-width: 768px) {
  .content-section {
    max-width: 100%;
    padding: 0 10px;
  }
}
