.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* This is an example color, change as needed */
  }
  
  .login-content {
    width: 100%;
    max-width: 320px; /* Adjust width as needed */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #00BFFF; /* This is an example color, adjust as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin-top: 10px;
  }
  
  .alternative-option {
    margin-top: 20px;
    text-align: center;
  }
  
  .register-link {
    cursor: pointer;
    color: #0077cc; /* This is an example color, adjust as needed */
    margin-left: 5px;
  }
  